* {
  box-sizing: border-box;
}

html {
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    "Liberation Sans",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

.nav {
  width: 100%;
  height: 4rem;
  background-color: #1a3b3c;
}

.nav__layout {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav-brand {
  display: flex;
  height: 100%;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-brand:hover,
.nav__login:hover {
  color: #fff1c8;
}

.nav-brand__logo {
  width: 3.5rem;
  margin-right: 0.25rem;
}

.nav__login {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}
.main {
  width: 100%;
  height: 100%;
  background-color: #faf9f6;
  color: #113343;
  position: relative;
  overflow: hidden;
  padding-bottom: 2rem;
  min-height: 800px;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.main-heading {
  font-size: 2.5rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  padding: 0.67em;
}

.new {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column nowrap;
  border: 0.125rem solid #e3dabf;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding: 1.5rem 2rem;
  margin-bottom: 40px;
  min-height: 25rem;
}

.new--active {
  margin: 4rem auto;
  min-height: 45rem;
  justify-content: space-evenly;
  padding-bottom: 3rem;
}

.new__category {
  min-width: 7rem;
  text-align: center;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.75;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
}

.new__category__link {
  text-decoration: none;
  color: #7e4949;
}

.new__category__link:hover {
  color: #113343;
}

.new__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.new__content__text {
  margin-right: 5rem;
  width: 30rem;
}

.new__content__title {
  font-size: 1.75rem;
  letter-spacing: 0.05em;
  margin: 1rem auto 2rem;
  color: #113343;
}

.new__title--active {
  font-size: 2rem;
  align-self: center;
  margin-top: 3rem;
}

.new__content__paragraph {
  font-size: 1.15rem;
  letter-spacing: 0.025em;
  color: #113343;
  text-align: justify;
}

.new__p--active {
  font-size: 1.25rem;
  width: 80%;
  align-self: center;
}

.new__content__image {
  width: 25rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  margin: 3rem auto;
}

.new__img--active {
  align-self: center;
  width: 35rem;
  height: 20rem;
}

.new__link {
  text-decoration: none;
}

.new__link:hover .new__content__title {
  color: #e3dabf;
}

.new__content__date {
  font-size: 1rem;
  color: #e3ceb7;
}

.button {
  display: flex;
  width: 9.5rem;
  height: 3rem;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
  background-color: #c9b7a4;
  color: #faf9f6;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 0;
  margin-left: auto;
}

.button:hover {
  background-color: #eddeb0;
  color: #faf9f6;
}

.button__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.pagination {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.pagination__link {
  display: block;
  background-color: #faf9f6;
  color: #eddeb0;
  border: 0.125rem solid rgb(200, 200, 200);
  width: 2rem;
  height: 2rem;
  text-decoration: none;
  text-align: center;
  line-height: 1.75rem;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
}

.pagination__link:hover {
  color: white;
  background-color: #328677;
  border-color: #328677;
}

.pagination__link--active {
  border: 0.125rem solid #eddeb0;
}

.footer {
  background-color: #1a3b3c;
  padding: 3rem 0;
}

.footer::after {
  content: "";
  display: block;
  width: 7.5rem;
  height: 0.125rem;
  background-color: white;
  margin: 2.5rem auto 0 auto;
  opacity: 0.5;
}

.footer__heading {
  color: white;
}

.footer__desc {
  color: #e3dabf;
  max-width: 20rem;
  line-height: 1.33em;
}

a {
  text-decoration: none;
}

.form-group {
  display: flex;
  margin-bottom: 1rem;
}

.form-group__label,
.form-group__input {
  display: block;
  color: #113343;
  background-color: rgb(200, 200, 200);
  border-style: solid;
  border-color: rgb(100, 100, 100);
  padding: 0.5rem;
  font-weight: bottom;
}

.form-group__label {
  flex: 0 0 7.5rem;
  border-top-width: 0.125rem;
  border-left-width: 0.125rem;
  border-bottom-width: 0.125rem;
  border-right-width: 0;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  text-transform: uppercase;
}

.form-group__input {
  flex: 1 0 10rem;
  border-top-width: 0.125rem;
  border-right-width: 0.125rem;
  border-bottom-width: 0.125rem;
  border-left-width: 0;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.form-submit {
  display: flex;
  justify-content: flex-end;
}

.confirm-box {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border: 2px solid #f00;
  background: #fff3f3;
  text-align: center;
}
.confirm-box button {
  margin: 5px;
  padding: 8px 15px;
}
